*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: $body-text-color;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 0.25s linear;

  &:hover {
    border-bottom-color: $body-text-color;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}