$breakpoints: (
  "tablet-up": 500px,
  "desktop-up": 1025px,
);

$font-family-base: Abel, Tahoma, Arial, Helvetica, sans-serif;
$font-size-base: 16px;
$font-size-lead: 20px;
$body-text-color: rgb(28, 28, 28);;
$line-height-base: 1.5;
$body-bg: rgb(255, 255, 255);
$border-color: #e5e5e5;
$light-grey: #f4f3f1;

$user-card-bg: #fff;